.active-tab {
    font-weight: bold;
}

.glyphicon {
    cursor: pointer;
}

.margin-20-b {
    margin-bottom: 20px;
}

.margin-20-t {
    margin-top: 20px;
}

.margin-40-t {
    margin-top: 40px;
}

.task-form {
    padding: 10px;
    /*border: 1px solid #101010;
    border-radius: 3px;*/
}

.task-form .task-header {
 background-color: #222;
 border-radius: 3px 3px 0px 0px;
 color: #9d9d9d;
 font-weight: bold;
 padding: 3px 3px;
}

.msg {
    display: block;
    text-align: center;
    height: 30px;
}

.err-msg {
    color: red;
}

.success-msg {
    color: limegreen;
}